<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cms.module.employee.mapper.CmsEmployeeMapper">
	<select id="selectCount"
        resultType="Integer">
        SELECT
        count(1) as recordCount
        FROM
        cms_employee 
	</select>
	

	<select id="select"
        parameterType="map"
        resultType="com.cms.module.employee.entity.Employee">
        SELECT
        employeeId,
        name,
        sex,
        birthday,
        address,
        phone
        FROM
        cms_employee 
        <where>
        <if test="employeeId != null  and employeeId.trim() != ''">
        	and employeeId = #{employeeId}
        </if>
        <if test="name != null and name.trim() != ''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="sex != null and sex.trim() != ''">
        	and sex = #{sex}
        </if>
        <if test="birthday != null and birthday.trim() != ''">
        <![CDATA[
        	and birthday >= date_add(DATE_FORMAT(#{birthday}, '%Y-%m-%d'),interval -day(DATE_FORMAT(#{birthday}, '%Y-%m-%d'))+1 day)
        	and birthday < last_day(DATE_FORMAT(#{birthday}, '%Y-%m-%d'))
        	]]>
        </if>

        </where>
        limit #{pageSize}
        offset #{currentPage}
	</select>
	
	 <insert id="insertEmployee" parameterType="com.cms.module.employee.entity.Employee">
	    INSERT INTO cms_employee (
	        employeeId,
	        name,
	        sex,
	        birthday,
	        address,
	        phone,
	        joiningDate,
	        mail,
	        jobType,
	        salary,
	        jobLevel,
	        employeeKbn,
	        employeeType,
	        hasTax,
	        topWorkHour,
	        downWorkHour,
	        loginId,
	        password,
	        registDay,
	        updateDay
	    )
	    VALUES (
	        #{employeeId},
	        #{name},
	        #{sex},
	        #{birthday},
	        #{address},
	        #{phone},
	        #{joiningDate},
	        #{mail},
	        '1',
	        #{salary},
	        '1',
	        '1',
	        '正社',
	        'Y',
	        140,
	        180,
	        #{mail},
	        #{mail},
	        NOW(), -- 登録日時
	        NOW()  -- 更新日時
	    )
	</insert>
	
<select id="findById" resultType="com.cms.module.employee.entity.Employee">
    SELECT * FROM cms_employee WHERE employeeId = #{employeeId}
</select>

<update id="updateEmployee" parameterType="com.cms.module.employee.entity.Employee">
    UPDATE cms_employee
    SET name = #{name}, sex = #{sex}, birthday = #{birthday}, address = #{address},
        phone = #{phone}, joiningDate = #{joiningDate}, mail = #{mail},
        jobType = #{jobType}, salary = #{salary}
    WHERE employeeId = #{employeeId}
</update>

</mapper>