<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.cms.module.ocr.mapper.ExpenseReceiptLinkMapper">
	<insert id="batchInsert">
		INSERT INTO expense_receipt_link (expense_request_id, receipt_id)
		VALUES
		<foreach collection="receiptIds" item="rid" separator=",">
			(#{expenseRequestId}, #{rid})
		</foreach>
	</insert>
</mapper>