<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cms.module.popup.mapper.PopUpMapper">
	
	<select id="selectCase" 
	        resultType="map">
	        SELECT
	        case_title,
	        case_id,
	        customer_id
	        FROM
	        `case`
	        <where>
	        <if test="case_title != null and case_title.trim() != ''">
	        case_title = #{case_title}
	        </if>
	        </where>
	</select>
	
	<select id="selectEmployee" 
	        resultType="map">
	        SELECT
	        name,
	        employee_id
	        FROM
	        employee
	        <where>
	        <if test="name != null and name.trim() != ''">
	        name = #{name}
	        </if>
	        </where>
	</select>
	
	<select id="selectCustomerByName" 
	        resultType="map">
	        SELECT DISTINCT
	        cus.customer_name,
	        cus.customer_id
	        FROM
	        customer as cus LEFT JOIN responsible as res on cus.customer_id=res.customer_id
	        <where>
	        cus.deleteFlag = false
	        <if test="customer_name != null and customer_name.trim() != ''">
	        customer_name = #{customer_name}
	        </if>
	        </where>
	</select>
	
		<select id="selectDepartmentByName" 
	        resultType="map">
	        SELECT DISTINCT
	        department_id,
	        department_name
	        FROM
	        customer_department
	        <where>
	        <if test="department_name != null and department_name.trim() != ''">
	        department_name = #{department_name}
	        </if>
	        </where>
	</select>

</mapper>